.blog-post-container {
    display: block;
    margin: auto;
    max-height: 100%;
}

.blog-post {
    text-align: center;
}

.blog-post-content {
    padding: 5%;
    width: 75%;
    margin: auto;
}


