@import "~bootstrap/dist/css/bootstrap.css";
body {
    font-family: 'Ubuntu';
}

.content {
    width: 100%;
    height: 100%;
    margin-left: 16rem;
}

.inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 75%;
    margin: auto;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.fancy a {
    background: linear-gradient(to bottom, #24729A, #24729A);
    background-position: 0 100%;
    background-size: 100% 0;
    text-decoration: underline;
    background-repeat: repeat-x;
    color: black;
    -webkit-transition: background-size .2s;
    transition: background-size .2s;
    padding: 5px;
}

.fancy a:hover {
    background-size: 100% 100%;
    text-decoration: none;
    color: white;
}

nav .fancy a {
    text-decoration: none;
}

.fancy .active {
    color: #672e41;
}