.profile-image {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgb(38, 173, 179, .5);
    border-radius: 30%;
    justify-content: center;
    margin: auto;
    display: block;
    box-sizing: border-box;
}
