<nav class="navbar navbar-expand-md navbar fixed-top" id="sideNav">
	<a href="/" class="navbar-brand">
		<img class="d-none d-md-block" src="/images/profile.png">
		<h1>Khalil Haji</h1>
	</a>
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
		<span class="fa fa-bars" style="color: #bfbfbf;"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarSupportedContent">
		<ul class="fancy navbar-nav">
			{{ $currentPage := .}}
			{{ range .Site.Menus.main }}
			<li class="nav-item"><a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">
					{{ .Name }}{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}<span class="logo_cursor"></span>{{end}}
			</a></li>
			{{ end }}
		</ul>
	</div>
	<div class="social d-none d-md-block" style="margin: auto;">
<h1>
	<a href="https://github.com/khalilhaji" target="_blank"><i class="fa fa-github-square h1"></i></a>
</h1>
	</div>
</nav>
